<h1 style="color:blue">Ejemplos <meta charset="utf-8" /></h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Caching"
           asp-action="MemoriaDistribuida">
            Memoria Distribuida
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Caching"
           asp-action="MemoriaPersonalizada">
            Memoria Personalizada
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="UploadFiles"
           asp-action="SubirFichero">
            SubirFichero
        </a>
    </li>
</ul>